.product-preview-card {
  &__title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    color: rgb(1, 10, 61);
  }

  &__description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(130, 161, 197);
  }

  &__image {
    width: 15rem;
  }
}
