.home-page {
  
  &__title {
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  &__products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    row-gap: 1em;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

@media (prefers-color-scheme: dark) {

  .home-page {
    background-color: black;
    
    &__title {
      color: white;
    }

    &__welcome {
      color: white
    }
  
    &__products {
      display: flex;
      flex-direction: column;
  
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}