.page {
  // TODO: update height
  min-height: 100vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
  margin-right: 10vh;
  margin-left: 10vh;
  font-family: 'serif', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
}
