.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  top: 0;
  background-color: lightblue;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}

image {
  border-radius: 50%;
}

@keyframes generate-fonts {
  0%   {font-family: "Cursive", "Lucida Handwriting", serif;}
  25%   {font-family: "Serif", "Garamond", serif;}
  50%  {font-family: "Fantasy", "Papyrus", serif;}
  75%  {font-family: "Monospace", "Monaco", serif;}
  100% {font-family: "Sans-serif", "Helvetica", serif;}
}

button {
  padding: 12px 28px;
  border-radius: 4px;
  transition-duration: 0.5s;
  font-family: "Cursive", "Lucida Handwriting", serif;
  color: slategray;
}

button:hover {
  // make border white on hover
  border: 2px solid white;
  animation-name: generate-fonts;
  animation-duration: 2s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}
